<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs')%>

  <body>
    <%- include('includes/nav.ejs')%>
      <div>
        <h1>404</h1>
        <h2>Oops! Page Not Found</h2>
        <p>
          The page you are looking for might have been removed, had its name changed,
          or is temporarily unavailable.
        </p>
        <a href="/">Go to Homepage</a>
      </div>
  </body>

</html>